<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bird</key>
	<dict>
		<key>ApplicationKey</key>
		<string>YOUR_APPLICATION_KEY</string>
		<key>AppGroup</key>
		<string>group.com.bird.example.pushnotifications</string>
		<key>AccessGroup</key>
		<string>$(AppIdentifierPrefix)com.bird.example.pushnotifications</string>
		<key>LogLevel</key>
		<string>none</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
